<section class="interna container">
	<h1>Minhas rotas</h1>

		<% @rotas.each do |rota| %>
			<section class="fields-section-separator selection-division">
				<h3>ROTA: <%= rota.nome %></h3>
				<section class="origem">
					<h4>endereço de origem</h4>	
					<p><%= rota.origem.logradouro %> - <%= rota.origem.bairro %><p>
					<p><%= rota.origem.cidade %> - <%= rota.origem.uf %><p>
				</section>
				<section class="destino">
					<h4>endereço de destino</h4>	
					<p><%= rota.destino.logradouro %> - <%= rota.destino.bairro %><p>
					<p><%= rota.destino.cidade %> - <%= rota.destino.uf %><p>
				</section>
				<% if rota.owned_by? current_caroneiro %>
					<div class="actions">
						<%= link_to 'Remover', delete_rota_path(:id => rota.id), :class => 'green button' %>
						
						<% if rota.ativa? %>
							<%= link_to 'Desativar', edit_rota_path(:id => rota.id, :status => 'false'), :id => rota.id, :class => 'orange button', :remote => true %>
						<% else %>
							<%= link_to 'Ativar', edit_rota_path(:id => rota.id, :status => 'true'), :id => rota.id, :class => 'green button', :remote => true %>
							<% end %>
					</div>
				<% end %>
			</section>
		<% end %>
</section>